body {
font-family: 'Roboto',sans-serif;
color: #434455;
background-color: #FFFFFF;
}
p,h1,h2,h3,h4,h5,h6{
margin-top: 0; margin-bottom: 0;
}
a{text-decoration: none;
color: currentColor;
}

ul{list-style: none;
margin-top: 0;
margin-bottom: 0;
padding: 0;
}

button{
cursor: pointer;
}
.container{
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}


/**-------------Header-----------*/
.header-navigation{
display: flex;
align-items: center;
}
.header{
border-bottom: 1px solid #e7e9fc;
}
.header-container{
display: flex;
}
.header-logo {
font-family: Raleway,sans-serif;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.03em;
color:#4D5AE5;
margin-right: 76px;
width: Hug (115px);
height: Fixed (24px);
top: 24px;
left: 156px;
}
.header-part{
color: #2E2F42;
}

.header-menu-list{
display: flex;
gap: 40px;
padding-top: 24px;
padding-bottom: 24px;
}

.header-menu-item{
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2E2F42;
width:261px;
height: Hug 24px;
top: 24px;
left: 347px;
gap: 40px;
}
.header-menu-item:hover{
 color: #404bbf;   
}
.header-menu-item:focus{
color: #404bbf;
}

.address{
font-style: normal;
}
.address-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}
.address-link:hover{
color: #404bbf;
}
.address-link:focus{
color: #404bbf;
}
/**------------------------*/
/**-------------Hero-----------*/
.hero{
background-color: #2e2f42;
width: 1440px;
height: 600px;
top: 72px;
padding-top: 188px;
padding-bottom: 188px;
}
.hero-title{
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
margin: 0 auto;
height: 120px;
top: 260px;
left: 472px;
max-width: 496px;
}

.hero-order-btn{
font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
color: #FFFFFF;
background:#4D5AE5;
min-width: 169px;
height: 56px;
top: 428px;
left: 636px;
padding: 16px, 32px, 16px, 32px;
margin: 0 auto;
border-radius: 4px;
gap: 10px;
border: none;
display: block;
}
.hero-order-btn:hover {
background-color: #404BBF;
}

.hero-order-btn:focus {
background-color: #404BBF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list-guide{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
color: #2e2f42;
}


.features-item-reference{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}

/**---------------------------*/
/**-------------Team-----------*/
.team{
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}
.team-title{
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}
.team-list{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
display: flex;
gap: 24px;
}
.team-list-title{
font-weight: 500;
letter-spacing: 0.02em;
font-size: 20px;
line-height: 1.2;
color: #2e2f42;
}
.team-list-members{
font-size: 16px;
line-height: 1.5;
color: #434455;
background-color: #FFFFFF;
}
.features-item-team{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}

.team-list-options{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
color: #2e2f42;
}
.team-list-item{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}
/**--------------------------*/
/**-------------Footer-----------*/
.footer{
background: #2E2F42;
}
.footer-logo{
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
text-transform: uppercase;
letter-spacing: 0.03em;
text-align: left;
color: #4D5AE5;
}
.footer-part{
color: #F4F4FD;
}
.footer-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #F4F4FD;
}
/**--------------------------*/
    
