body {
font-family: 'Roboto',sans-serif;
color: #434455;
background-color: #FFFFFF;
}
a{text-decoration: none;}
ul{list-style: none;}

/**-------------Header-----------*/
.header-logo {
font-family: Raleway,sans-serif;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.03em;

color:#4D5AE5;
}
.header-part{
color: #2E2F42;
}
.header-menu-item{
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2E2F42;;
}
.header-menu-item:hover{
 color: #404bbf;   
}
.header-menu-item:focus{
color: #404bbf;
}
.address{
font-style: normal;
}
.address-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}
.address-link:hover{
color: #404bbf;
}
.address-link:focus{
color: #404bbf;
}
/**------------------------*/
/**-------------Hero-----------*/
.hero{
background-color: #2e2f42;
}
.hero-title{
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
}

.hero-order-btn{
font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
color: #FFFFFF;
background:#4D5AE5;
}
.hero-order-btn:hover {
background-color: #404BBF;
}

.hero-order-btn:focus {
background-color: #404BBF;
}



.features-list, .features-list-guide, .team-list{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
}


.features-item-reference{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}

/**---------------------------*/
/**-------------Team-----------*/
.team{
background-color: #F4F4FD;
}
.team-title{
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
}
.team-list{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.team-list-members{
font-size: 20px;
line-height: 1.2;
color: #434455;
background-color: #FFFFFF;
}
.features-item-team{
font-size: 16px;
}
.team-list-options{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
color: #2e2f42;
}
.team-list-item{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}
/**--------------------------*/
/**-------------Footer-----------*/
.footer{
background: #2E2F42;
}
.footer-logo{
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
text-transform: uppercase;
letter-spacing: 0.03em;
text-align: left;
color: #4D5AE5;
}
.footer-part{
color: #F4F4FD;
}
.footer-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #F4F4FD;
}
/**--------------------------*/
    
